/pdfGenerator/.idea
/pdfGenerator/.venv
/csv_files
/regexes/regex-doc
/shipTank/images/original
/shipTank/__pychache__
/pdfInvoices/.idea
/pdfInvoices/.venv
/pdfInvoices/Invoices
/pdfInvoices/pythonhow.png
/projrct_showcase/.idea
/projrct_showcase/.venv
/projrct_showcase/images
/project_showcase/data.csv
/pandas_package/.ipynb_checkpoints
/pandas_package/allFiles
/pandas_package/pandas_venv
/.ipynb_checkpoints
/json_parse/sample.json
/json_parse/.ipynb_checkpoints
/json_parse/data_venv
/randomWalk/__pychache__
/dataPlotting/.ipynb_checkpoints
/dataPlotting/summer_2012.csv
/dataPlotting/titanic.csv
/currentWeatherData/.ipynb_checkpoints
/currentWeatherData/weather_venv
/csvParse/.ipynb_checkpoints
/csvParse/csv_venv
/csvParse/ddl_rocket
/apis/readme.md
/apis/api_basic/node_modules
/apis/api_basic/package.json
/apis/api_basic/package-lock.json
/streamlit_app/website_app/Current+State+of+the+Program
/dailyNewEmailDigest/.venv
/dailyNewEmailDigest/.idea
/createPythonPackage/.idea
/createPythonPackage/.venv
/PyPI-Recovery-Codes-nirmala_1234-2024-08-25T11_45_55.730518.txt
/createPythonPackage/__pychache__
/createPythonPackage/.idea
/createPythonPackage/.venv
/createPythonPackage/dist
/createPythonPackage/generatepdfInvoices.egg-info
/createPythonPackage/invoicing/__pychache__
/createPythonPackage/test

