/pdfGenerator/.idea
/pdfGenerator/.venv
/csv_files
/regexes/regex-doc
/shipTank/images/original
/shipTank/__pychache__
/pdfInvoices/.idea
/pdfInvoices/.venv
/pdfInvoices/Invoices
/pdfInvoices/pythonhow.png
/projrct_showcase/.idea
/projrct_showcase/.venv
/projrct_showcase/images
/project_showcase/data.csv
/pandas_package/.ipynb_checkpoints
/pandas_package/allFiles
/pandas_package/pandas_venv
/.ipynb_checkpoints