body {
    display: block;
    overflow:hidden;
}

div {
    display:block;
    background-color: #edede9;
    width:1208px;
    height: 480px;
    margin-top:50px;
    margin-left:25px;
    margin-right: 25px;
}
img {
    width: 100px;
    height: 40px;
}
nav {
    background-color: white;
    display: flex;
    list-style-type: none;
}

