html body p h1 {
    display: block;     /* It is probably for the browser that couldn't get that they are the block ele*/
}
html {
    background-color: bisque;
}
body {
    background-color: aqua;
}
p {
    background-color: grey;
    margin-top: 0px;
    border: 20px solid aqua;
    border-bottom: 0px;
    padding: 20px;
}
h1 {
    background-color: lightcoral;
    margin-bottom: 0px;
    border: 20px solid aqua;
    border-top: 0px;
    padding: 20px;
}